.my_meta_control .description
{ display:none; }
 
.my_meta_control label
{ display:block; font-weight:bold; margin:6px; margin-bottom:0; margin-top:12px; }
 
.my_meta_control label span
{ display:inline; font-weight:normal; }
 
.my_meta_control span
{ color:#999; display:block; }
 
.my_meta_control textarea, .my_meta_control input[type='text']
{ margin-bottom:3px; width:; }
 
.my_meta_control h4
{ color:#999; font-size:1em; margin:15px 6px; text-transform:uppercase; }


/*
#_audio_meta_metabox .wpa_group {
	background: #ededed;
	border: 1px solid #dfdfdf;
	padding: 10px 20px 20px 20px;
	margin-bottom: 15px;
	margin-top: 5px;
}
*/

.divider {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #dfdfdf;
	margin-top: 10px;
}


.wpa_group-events, .wpa_group-_airdate_group, .wpa_group-member {
	/*margin: 15px;*/
	border: 1px solid #fff;
	overflow: hidden;
	background-color: #F8F8F8;
}

.wpa_group-events ul, .wpa_group-_airdate_group ul, .wpa_group-member ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.wpa_group-events ul li, .wpa_group-_airdate_group ul li, .wpa_group-member ul li {
	/*display: block;*/
	float: left;
	padding: 5px;
	margin: 2px;
	border: 1px solid #ddd;
	/*height: 24px;*/
	overflow: hidden;
	background-color: #E8E8E8;
}
.wpa_group-events label, .wpa_group-_airdate_group label {
	margin: 0;
}
.hide_label {
	display: none;
}
.entry_item_buttons {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	clear: both;
	padding-top: 5px;
}
.wpa_group-events:hover, .wpa_group-_airdate_group:hover {
	background: #fff;
	border: 1px solid #e0e0e0;
}